:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--violet);
  background-image: url('images/bg-mobile.svg');
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.container {
  min-width: 375px;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  padding-bottom: 40px;
  padding-top: 40px;
}

.logo {
  width: 120px;
}

.banner {
  padding-bottom: 30px;
  padding-top: 30px;
}

img {
  max-width: 100%;
}

.banner-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 16px;
  text-align: center;
}

.banner-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;
}

.btn-register {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--violet);
  display: block;
  font-size: 12px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  text-align: center;
  width: 200px;
}

.btn-register:hover,
.btn-register:active {
  background-color: var(--soft-magenta);
  color: #fff;
}

footer {
  margin-top: 24px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.social {
  margin-bottom: 24px;
}

.social > ul {
  column-gap: 8px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
  width: fit-content;
}

.social .icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  height: 28px;
  padding: 10px;
  width: 28px;
}

.social .icon.facebook {
  background-image: url('images/facebook.svg');
}

.social .icon.twitter {
  background-image: url('images/twitter.svg');
}

.social .icon.instagram {
  background-image: url('images/instagram.svg');
}

.attribution {
  font-size: 12px;
}

.attribution a {
  color: var(--soft-magenta);
}

.attribution a:hover,
.attribution a:active {
  text-decoration: none;
}